# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
#/debugConfig/param.js
/.idea
/dist.*
# misc
.DS_Store
.eslintrc
npm-debug.log*





